/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}
/* general */
.button-blue{
    background-color: blue;
    text-align: center;
    line-height: center;
    color: white;
    height: 30px;
    padding: 0 10px;
    border: none;
}
.container{
    width: 1000px;
    margin: auto;
}
a{
    text-decoration: none;
}

/* Header-top */
.header-container-top{
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.header-top-left, .header-top-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top-left > * {
    margin-left: 10px;
    margin-right: 10px;
}
.header-top-right > * {
    margin-left: 10px;
    margin-right: 10px;
}
/* Header-bottom */
.header-container-bottom{
    background-color: lightskyblue;
    width: 100%;
}
.header-container-bottom > div{
    padding-top: 50px;
    margin-left: 230px;
}
h1{
    font-size: 50px;
    line-height: 50px;
}
.container-info-header{
    display: flex;
    margin-top: 50px;
    height: 280px;
    width: 100%;
}
.left-header-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}
.right-header-bottom{
    width: 60%;
}
.left-header-bottom > button{
    width: 40%;
    padding-bottom: 0;
}
.right-header-bottom > * {
    width: 100%;   
}
/* main-section-1 */
.first-section{
    margin-top: 100px;
}
.button-first-section{
    margin-top: 50px;
}
label{
    margin-right: 35px;
}
.button-first-section input:checked {
    border:10px solid #2196F3;
}
.columns-container-main{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.columns-box-main{
    width: calc(90% / 3);
}
.item-columns{
    text-align: center;
}