/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}
img{
    display: block;
    width: 100%;
}
/* general */
.button-blue{
    background-color: blue;
    text-align: center;
    line-height: center;
    color: white;
    height: 30px;
    padding: 0 10px;
    border: none;
}
.button-white{
    background-color: white;
    text-align: center;
    line-height: center;
    height: 30px;
    padding: 0 10px;
}
.container{
    width: 1000px;
    margin: auto;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
    margin-bottom: 10px;
}
.fa-check{
    color:  #1162ee;
}

/* Header-top */
.header-container-top{
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.header-top-left, .header-top-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top-left > * {
    margin-left: 10px;
    margin-right: 10px;
}
.header-top-right > * {
    margin-left: 10px;
    margin-right: 10px;
}
/* Header-bottom */
.header-container-bottom{
    background-color: lightskyblue;
    width: 100%;
}
.header-container-bottom > div{
    padding-top: 50px;
    margin-left: 280px;
}
h1{
    font-size: 50px;
    line-height: 50px;
}
.container-info-header{
    display: flex;
    margin-top: 50px;
    height: 280px;
    width: 100%;
}
.left-header-bottom{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.arrow{
    position: absolute;
    bottom: 0;
    left: 0;
}
.left-header-bottom > p{
    margin: 40px 0;
}
.right-header-bottom-1{
    position: relative;
    width: 100%;
}
.right-header-bottom-2{
    position: absolute;
    bottom: -40px;
    width: 100%;
}
.left-header-bottom > button{
    width: 40%;
    padding-bottom: 0;
    margin-bottom: 10px;
}
/* main-section-1 */
.first-section{
    margin-top: 100px;
}
.button-first-section{
    margin-top: 50px;
}
label{
    margin-right: 35px;
}
.button-first-section input:checked {
    border:10px solid #2196F3;
}
.columns-container-main{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.columns-box-main{
    width: calc(90% / 3);
}
.item-columns{
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.info-columns ul > li{
    display: flex;
}
.info-columns{
    margin: 0 5px;
    display: flex;
    flex-direction: column;
}
.info-columns > *{
    margin: 20px 0;
}
.info-columns > button{
    width: 100%;
}
.info-columns > hr{
    width: 30%;
    border-color: lightgray;
}
.info-columns > p{
    color: gray;
}
.footer-section1-item{
    width: 100%;
    margin-top: 50px;
    height: 50px;
}
.footer-section1-item{
    text-align: center;
    line-height: 50px;
}
.info-footer-section1{
    display: flex;
}
.info-footer-section1-left{
    width: 100%;
}
.info-footer-section1-right{
    display: flex;
    justify-content: flex-end;
    width: 100%;   
}
.info-footer-section1-right > button{
    margin-top: 30px;
    margin-right: 20px;
}
.info-footer-section1-left > *{
    margin-top: 30px;
}
/* main-section-2 */
.second-section{
    margin-top: 100px;
    width: 100%;
}
.card-section-2{
    display: flex;
}
.box-right > *{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
/* main-section-3 */
.third-section{
    margin-top: 50px;
}
.box-container-third-section{
    width: 100%;
}
.card-container-section-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: calc(90% / 3);
}
.card > *{
    margin-top: 20px;
    margin-bottom: 40px;
}
/* main-section-4 */
.four-section{
    margin-top: 50px;
    
}
.four-section > h2{
    font-size: 50px;
    margin-bottom: 80px;
}
.four-section > a{
    color: blue;
    text-decoration: underline;
}
/* section5 */
.five-section{
    margin-top: 50px;
    
}
.big-container-five-section{
    display: flex;
    width: 100%;
}
.small-four-container{
    display: flex;
    flex-wrap: wrap;
}
.partner{
    width: calc(100% / 2);
    /* height: calc(100% / 2); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner > img{
    width: calc(100vw / 8);
    height: calc(100vw / 8);
    filter: invert(100%);
}
.background-blu{
    background-color: blue;
}
.background-green{
    background-color: green;
}
.background-gold{
    background-color: gold;
}
.background-red{
    background-color: red;
}
/* sectin 6 */
.section-six{
    background-color:lightskyblue ;
    width: 100%;
}
.container-section-six{
    display: flex;
    justify-content: space-between;
}
.container-section-six > h2{
    font-size: 50px;
    color: purple;
}
.container-section-six > *{
    margin-top: 50px;
    margin-bottom: 50px;
}
    